<component-with-properties>
  <ce-with-properties id="wc" {...state}></ce-with-properties>
  <script>
    export default {
      state: {
        bool: true,
        num: 42,
        str: 'riot',
        arr: ['r', 'i', 'o', 't'],
        obj: { org: 'riotjs', repo: 'riot' }
      }
    }
  </script>
</component-with-properties>
