<component-with-properties>
  <ce-without-properties id="wc" {...state}></ce-without-properties>
  <script>
    export default {
      state: {
        agetter: "getter",
        amethod: "method",
        areadonly: "readonly"
      }
    }
  </script>
</component-with-properties>
