<component-with-properties>
  <ce-with-properties id="wc" {...state}></ce-with-properties>
  <script>
    export default {
      state: {
        bool: true,
        num: 42,
        str: 'custom',
        arr: ['c', 'u', 's', 't', 'o', 'm'],
        obj: { org: 'webcomponents', repo: 'custom-elements-everywhere' },
        camelCaseObj: { label: "passed" },
      }
    }
  </script>
</component-with-properties>
