.section {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.section:nth-of-type(odd) {
  background: #F4F4F4;
}

.cheers {
  display: inline-block;
  transform: translate(10px) scale(2, 2);
}

.no-issues-caption {
  transform: translateY(-20px);
}
